apiVersion: v1
kind: Service
metadata:
  name: product-service
  labels:
    app: product-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3002
    protocol: TCP
  selector:
    app: product-service
