apiVersion: v1
kind: Service
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3003
    protocol: TCP
  selector:
    app: order-service
