apiVersion: v1
kind: Service
metadata:
  name: payment-service
  labels:
    app: payment-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3004
    protocol: TCP
  selector:
    app: payment-service
